/*------------------------------------*\
    #LOGO
\*------------------------------------*/
.c-logo-link {
	display: block;
	margin: 0 auto;
}
.c-header__logo {
	max-width: 200px;
	@media all and (min-width: $bp-large-2) {
		max-width: 300px;
	}
	svg {
		height: 100%;
		width: 100%;
		fill: $color-white;
	}
	.cls-1{
		fill: $color-white;
	}
	.cls-2{
		fill: $color-white;
	}
}

.c-header__logo {
	-ms-grid-row: 2;
	-ms-grid-column: 2;
	-ms-grid-row-span: 3;
	grid-area: logo;
	@media all and (min-width: $bp-large-2)
 {
	 -ms-grid-row: 2;
	 -ms-grid-column: 1;
	 -ms-grid-row-span: 2;
 }
}


.c-footer__logo {
	width: 255px;
	height: 99px;
	margin-bottom: 50px;
	-ms-grid-row: 1;
	-ms-grid-column: 1;
	-ms-grid-row-span: 3;
	grid-area: logo;
	svg {
		height: 100%;
		width: 100%;
		fill: $color-white;
	}
	.cls-1{
		fill: $color-white;
	}
	.cls-2{
		fill: $color-white;
	}
}