/*------------------------------------*\
    #PRIMARY NAVIGATION
\*------------------------------------*/

/**
 * Navigation tag
 */
 .c-primary-nav {
	text-align: left;
	width: 100%;
	position: absolute;
	right: 0;
	top: 82px;
	background: $color-brand-tertiary;
	-ms-grid-row: 3;
	-ms-grid-column: 1;
	-ms-grid-row-span:1;
	grid-area: nav;
	@media all and (min-width: $bp-large-2) {
		-ms-grid-row: 3;
		-ms-grid-column: 2;
		top: 0;
		position: static;
		background-color: transparent;
	}
	.menu-item-has-children > .c-primary-nav__link {
		padding-right: 20px;
	}
}
.menu-item {
	@media all and (min-width: $bp-large-2) {
		display: inline-block;
		margin-bottom: 0;
	}
	&.menu-item--columns .sf-mega {
		@media all and (min-width: $bp-large-2) {
			column-count: 2;
			column-gap: 20px;
		}
	}

}
/**
 * Nav Links
 */
.c-primary-nav__link {
	display: grid;
	letter-spacing: 1px;
	color: $color-white;
	font-size: 0.75rem;
	font-weight: 500;
	align-items: center;
	padding: $pad;
	text-align: left;
	height: 100%;
	text-transform: uppercase;
	border: none;
	@media all and (min-width: $bp-large-2) {
		padding: $pad 0.7em;
	}
	@media all and (min-width: $bp-xxl) {
		padding: $pad 12px;
	}
	&:hover, &:focus {
		color: $color-brand-secondary;
		background-color: $color-brand-tertiary;
		.icon-chevron {
			svg {
				fill: $color-brand-secondary !important;
			}
		}
	}
	.sfHover > &, .menu-item:hover > & {
		color: $color-brand-secondary;
		background-color: $color-brand-tertiary;
		.icon-chevron {
			
			svg {
				fill: $color-brand-secondary;
			}
		}
	}
	
	> li:first-child & {
		padding-left: 1em;
		@media all and (min-width: $bp-large-2) {
			padding-left: 0;
		}
	}
	.icon-chevron {
		margin-top: 4px;
		transform: rotate(-90deg) translate(-2px, 7px);
		width: 7px;
		height: 12px;
		svg {
			fill: $color-white;
		}
	}
}










.c-primary-nav__btn {
	@media all and (min-width: $bp-large-2) {
		margin-left: 1.5vw;
		margin-right: 1.5vw;
	}
	@media all and (min-width: $bp-sl) {
		margin-left: $pad-double;
		margin-right: $pad-double;
	}
	&:hover, &:focus {
		color: $color-brand-secondary;
		background-image: $color-brand-tertiary;
		cursor: pointer;
		&:before {
			opacity: 1; 
		}
		
	}
	
	a {
		border-radius: $border-radius;
		&:hover, &:focus {
			background: $gradient-brand-tertiary;
			color: $color-brand-secondary;
		}
		@media all and (min-width: $bp-large-2) {
			display: inline-block;
			background: $gradient-brand-secondary;
			color: $color-white;
			line-height: 1;
			padding: 1.3em $pad-and-half;
			border-radius: $border-radius;
			text-align: center;
			
		}
	}

}

/*======================================= 
      =MENUS & NAVIGATION -- Active State
	==================================*/
/**
 * Nav List
 */
 .c-primary-nav__list {
	display: none;
	float: right;
	
	@media all and (min-width: $bp-large-2) {
		display: block;
		height: 46px;
	}
	.sf-mega a {
		display: grid;
	}
	.sf-mega {
		background-color: $color-brand-tertiary;
	}

	.menu-item-has-children:hover {
		.c-primary-nav__list > & > .c-primary-nav__link {
			color: $color-brand-secondary;
		}
	} 
}


.sf-mega {
	color: $color-white;
	font-size: 14px;
	@media all and (min-width: $bp-large-2) {
		position: absolute;
		left: 0;
		top: 0;
		width: auto;
		padding: $pad;
	}
	> li {
		a {
			padding: $pad-half;
		}
	}
}





.no-scroll {
  overflow: hidden;
}

.c-mobile-nav__list {
	display: none;
	padding-bottom: $pad-double;
	height: 100%;
	// overflow: scroll;
	.icon-chevron {
		color: $color-white;
		position: absolute;
		right: $pad;
		top: $pad;
		transform: rotate(-90deg);
	}
	& > li {
		position: relative;
		margin-bottom: 0;
	}

	&.move {
		// overflow: scroll;
		// overflow: hidden;
		-webkit-overflow-scrolling: touch;
	}
	&.move > li > a {
		transform: translateX(-100%);
		position: absolute;
		left: -100%;
	}
	.sf-mega {
		visibility: visible;
		display: block !important;
		position: absolute;
		right: -100%;
		padding: $pad $pad-double;
		overflow: scroll;
	}
	.active .sf-mega {
		transform: translateX(0);
		position: relative;
		right: 0;
	}
	.menu-item-description {
		display: none;
		visibility: hidden;
	}
	.back-btn {
		&:hover {
			cursor: pointer;
		}
	}
}