/*------------------------------------*\
    #SECTIONS
\*------------------------------------*/

/**
 * Section
 */
.c-section {
	position: relative;
	padding: 0;
	margin: 0;
	.l-sidebar & {
		@media all and (min-width: $bp-large) {
			margin-right: 2em;
			width: 50%;

			&:last-child {
				margin-right: 0;
			}
		}

		@media all and (min-width: $bp-large) {
			width: 100%;
			margin-right: 0;
		}
	}
}

/**
 * Section title
 */
.c-section__title {
	position: relative;
	color: $color-gray-73;
	margin-bottom: 1.5rem;
	font-weight: 100;
}


/**
 * Section block
 */
.c-tile-grid {
	background: url(../../images/sample/hero-mountains.jpg) no-repeat 50% 50% $color-gray-73;
	background-size: cover;
}

.c-tile-grid__inner {
	display: flex;
	flex-direction: column;

	@media all and (min-width: $bp-med) {
		flex-direction: row;
	}
}

.c-tile-grid__primary {
	display: flex;
	position: relative;
	width: 100%;
	margin-bottom: 1rem;

	@media all and (min-width: $bp-med) {
		width: 50%;
	}

	@media all and (min-width: 55rem) {
		width: 30%;
	}
}

.c-tile-grid__secondary {
	flex: 1;

	@media all and (min-width: $bp-med){
		padding: 0 0 0 1em;
	}
}



.c-media-grid {
	display: grid;
	// grid-template-areas:;
}

.c-section-tout {
	text-align: center;
	background-color: $color-brand-tertiary;
	padding: $pad $pad-double;
	@media all and (min-width: $bp-large-2) {
		padding: $pad-double $pad
	}
	.icon-stars {
		margin: 0 auto;
		transform: scale(0.5);
		@media all and (min-width: $bp-large-2) {
			transform: scale(1);	
		}
	}
	&__title {
		color: $color-white;
		font-weight: 300;
		line-height: 34px;
		margin-top: $space-half;
		letter-spacing: 1px;
		@include fluid-type(font-size,37.5rem, 80rem, 1.125rem, 1.75rem);
	}
}
.c-section-intro {
	padding: $pad $pad-double;
	text-align: center;
	font-size: 1.125rem;
	line-height: 34px;
	@media all and (min-width: $bp-med) {
		padding: 50px 22%;
	}
	&__title {
		color: $color-text;
		max-width: 500px;
		margin-left: auto;
		margin-right: auto;
	}
}

.c-tagline-logo {
	height: 88px;
	margin: 0 auto 80px;
	width: 312px;
	@media all and (min-width: $bp-med) {
		height: 126px;
		width: 447px;
	}
}

.c-section-testimonials {
	padding: 70px 60px;
	background-color: $color-brand-tertiary;
	
	text-align: center;
	color: $color-white;
	@media all and (min-width: $bp-med) {
		background: transparent url('img/CAT-sign-2.jpg') center center no-repeat;
		background-size: cover;
	}
	&__title {
		@include fluid-type(font-size,37.5rem, 80rem, 1.25rem, 1.75rem);
		color: $color-white;
		margin-bottom: $space-double;
	}
}

.c-section-verdicts {
	background-color: #DFDFDF;
	text-align: center;
	padding: 75px 0 95px;
	&__title {
		@include fluid-type(font-size,37.5rem, 80rem, 1.563rem, 2.375rem);
		color: $color-brand-tertiary;
		margin-bottom: $space-double;
	}
}


.c-section-cta {
	background-color: $color-brand-tertiary;
	color: $color-white;
	text-align: center;
	padding: 37px 0 50px;
	@media all and (min-width: $bp-med) {
		padding: 78px 0 68px;
	}
	&__title {
		@include fluid-type(font-size,37.5rem, 80rem, 1.875rem, 2.375rem);
		color: $color-white;
		font-weight: 300;
	}
	form {
		@media all and (min-width: $bp-large-2) {
			display: -ms-grid;
			display: grid;
			grid-column-gap: 30px;
			-ms-grid-rows:  72px 180px 1fr;
			grid-template-rows: 72px 180px 1fr;
			-ms-grid-columns: 225px 225px 225px 225px;
			grid-template-columns: 225px 225px 225px 225px;
			grid-template-areas: "a b c d"
													 "e e e e"
													 "f f f f";
			justify-content: space-between;
			.first-name {
				-ms-grid-column: 1;
				grid-column: 1;
				-ms-grid-row: 1;
				grid-area: a;
				.ie-11 & {
					padding-right: $pad;
				}
			}
			.last-name {
				grid-area: b;
				-ms-grid-column: 2;
				-ms-grid-row: 1;
				.ie-11 & {
					padding-right: $pad;
				}
			}
			.phone {
				-ms-grid-column: 3;
				-ms-grid-row: 1;
				grid-area: c;
				.ie-11 & {
					padding-right: $pad;
				}
			}
			.email-address {
				-ms-grid-column: 4;
				-ms-grid-row: 1;
				grid-area: d;
			}
			.comment {
				-ms-grid-column: 1;
				-ms-grid-row: 2;
				-ms-grid-column-span: 4;
				grid-area: e;
			}
	
			.c-btn {
				-ms-grid-column: 1;
				-ms-grid-row: 3;
				-ms-grid-column-span: 4;
				grid-area: f;
				margin: 32px auto 0;
				width: 166px;
			}
		}
		@media all and (min-width: $bp-xl) {
			-ms-grid-columns:  255px 255px 255px 255px;
			grid-template-columns: 255px 255px 255px 255px;
		}
	}
}
.c-staff-card {
	text-align: center;
	justify-content: space-between;
	margin-bottom: $space-double;
	margin-top: $space-double;
	&__img {
	 width: 263px;
	 height: 219px;
	 margin: 0 auto;
	 
	 img {
		 object-fit: cover;
		 height: 100%;
	 }
	}
	h4 {
		color: $color-brand-primary;
		font-size: 1rem;
		font-weight: 900;
		line-height: 24px;
		text-transform: uppercase;
		margin-top: $space;
	}
	&__title {
		text-transform: uppercase;
		margin-bottom: 0;
	}
	a {
		text-decoration: underline;
	}
}
.c-staff-container {

	@media all and (min-width: $bp-med) {
		display: grid;
		grid-template-areas: "avatar content"
												 "resume content";
		grid-template-rows:  377px 1fr;
		grid-template-columns: 445px 1fr;
		grid-column-gap: 30px;
		grid-row-gap: 38px;
		
	}
	&#{&} {
		@media all and (min-width: $bp-med) {
			margin-top: 38px;
			margin-bottom: 106px;
		}
	}
}
.c-staff-image {
	width: 100%;
	@media all and (min-width: $bp-med) {
		grid-area: avatar;
		padding-left: $pad-double;
	}
}
.c-staff-content {
	@media all and (min-width: $bp-med) {
		grid-area: content;
	
	}
	&#{&} {
		padding-top: $pad-double;
		@media all and (min-width: $bp-med) {
			padding-top: 78px;
		}
	}
}

.c-staff-resume {
	background-color: $color-brand-quaternary;
	color: $color-white;
	padding: $pad-double 0;
	@media all and (min-width: $bp-med) {
		grid-area: resume;
		margin-left: $pad-double;
	}
	&__section#{&}__section {
		margin-bottom: $space-double;
	}
	&__title {
		font-size: 1rem;
		font-weight: 700;
		color: $color-brand-secondary;
		text-transform: uppercase;
	}
	&__content {
	
	
		ul {
			padding: 0;
			margin: 0;
			list-style-type: none;
		}
		li {
			font-size: 0.875rem;
			font-weight: 300;
			line-height: 1;
		}
	}
}

.c-featured-practice-areas {
	text-align: center;
	.col {
		margin-bottom: $space-double;
		padding: $pad;
		@media all and (min-width: $bp-large) {
			padding: 0 $pad-double;
			display: grid;
			grid-template-rows: 94px 47px 160px 40px;
			
		}
	}
	&__headline#{&}__headline {
		margin-bottom: 30px;
	}
	.icon {
		display: block;
		margin: 0 auto 25px;
		align-self: flex-end;
	}
	h3 {
		color: $color-brand-primary;
		font-size: 1.313rem;
		font-weight: 900;
		line-height: 31px;
		@media all and (min-width: $bp-med) {
			margin-bottom: 0;
		}
	}
	.c-btn {
		display: inline-block;
		max-width: 162px;
		margin: 0 auto;
	}
}

.nav-a-z-container {
	width: 100%;
	z-index: 2;
	margin: 80px 0 60px;
	border: 1px solid #B2B2B2;
}
.page-practice-areas-a-z .search-input {
	margin-bottom: 25px !important;
}
.nav-a-z {
	background-color: #ffffff;
	margin: 0;
	padding: 0;
	ol {
		list-style-type: none;
		margin: 0;
		padding: 0;
		text-align: center;
	}
	li {
		letter-spacing: normal;
		word-spacing: normal;
		display: inline-block;
		margin: 0;
		padding: 0;
		width: (100% / 26);
		min-width: 40px;
	}
	a {
		color: $color-brand-tertiary;
		display: block;
		height: 40px;
		width: 100%;
		text-transform: uppercase;
		-webkit-transition: ease-in-out all .2s;
		transition: ease-in-out all .2s;
		font-weight: 900;
		line-height: 40px;
	
	}
	a:hover, .active a {
		color: $color-white;
		background: $gradient-brand-primary;
		text-decoration: none;
	}
	.no-association {
		a, &.active a {
			color: #B2B2B2;
			border-color: transparent;
			background-color: transparent;
		}
		a:hover, &.active a:hover {
			border-color: transparent;
			background-color: transparent;
			cursor: default;
		}
	}
}



.c-alpha-section-container {
	margin-bottom: $space-double;
}
.alpha-section {
	min-height: 100px;
	padding: 17px 18px;
	background-color: #E2E2E2;
	margin-bottom: $space;
	h2 {
		@include fluid-type(font-size,37.5rem, 80rem, 1.875rem, 3rem);
		color: $color-brand-primary;
		margin: 0 0 $space-half 0;
		padding: 0;
		font-weight: bold;
		@media all and (min-width: $bp-med) {
			color: $color-heading;
			float: left;
			font-weight: normal;
			margin: 0;
		}
	}
	ul {
		list-style-type: none;

		padding: 0;
		@media all and (min-width: $bp-med) {
			margin: 0 0 0 120px;
		}
	}
	li {
		line-height: 1.5;
		margin-bottom: 12px;
		padding: 0;
		@media all and (min-width: $bp-med) {
			margin: 0 0 24px 0;
			padding-right: 40px;
		}
	}
	a {
		@include fluid-type(font-size,37.5rem, 80rem, 1rem,  1.313rem);
		display: block;
		color: $color-heading;
		letter-spacing: 0;
		// line-height: 46px;
		@media all and (min-width: $bp-med) {
			width: 255px;
		}
		&:hover {
			color: $color-text-link-hover;
			text-decoration: none;
		}
	}
}

.anchor {
	display: block;
	position: relative;
	top: -155px;
	visibility: hidden;
}


.page-contact-us {
	.c-block-hero {
		height: auto;
		margin-bottom: $space-double;
		&__headline {
			padding-top: 26px;
				font-weight: 300;
				line-height: 1.2;
				max-width: 920px;
				margin-right: auto;
				margin-left: auto;
				@include fluid-type(font-size,37.5rem, 80rem, 1.563rem, 2.375rem);
				@media all and (min-width: $bp-med) {
					padding-top: 57px;
				}
		}
		.subheading {
				font-size: 1rem;
				font-weight: 300;
				line-height: 24px;
		}
		&:after {
			display: none;
		}
	}
	.c-section-cta {
		padding-top: 0;
		background-color: transparent;
		color: $color-white;
		.c-cta-form__headline {
			width: 100%;
			max-width: 730px;
			margin: 40px auto;
			line-height: 1.4;
		}
		&__contact-info {
			max-width: 500px;
			margin-left: auto;
			margin-right: auto;
		}
		.col {
			text-align: center;
			h5 {
				margin-top: 0;
				padding-top: 0;
				margin-bottom: $space;
				color: $color-white;
				font-size: 1rem;
				font-weight: 500;
				line-height: 24px;
			}
			.tel a {
				color: $color-white;
			}
			.address, .tel {
				font-weight: 300;
				font-size: 0.875rem;
			}
			> a {
				color: $color-brand-secondary;
				display: grid;
				width: 87px;
				height: 87px;
				border-radius: 50%;
				background-color: $color-white;
				margin: $space auto $space-half;

				.icon-pin  {
					width: 32px;
					height: 32px;
					display: block;
					margin: auto;
					position: relative;
					top: -4px;
					svg {
						fill: $color-brand-secondary;
					}
				}
				
				.icon-phone  {
					width: 35px;
					height: 35px;
					display: block;
					margin: auto;
					svg {
						fill: $color-brand-secondary;
					}
				}

				&:hover {
					background-color: $color-brand-tertiary;
				}

			}

		}
		.ie-11 & .contact-form {
			width: 1050px;
			margin-left: auto;
			margin-right: auto;
		}
	}

}



.c-nav-categories {
	display: none;
	-ms-grid-column: 1;
			 -ms-grid-row: 2;
			 -ms-grid-column-span: 2;
	grid-area: nav;
	
	.cat-item a {
		color: $color-white;
		&:visited {
			color: $color-white;
		}
		&:hover {
			color: $color-brand-secondary;
		}
	}
}

	.c-list--categories {
	
		@media all and (min-width: $bp-small-3) {
			display: grid;
			grid-template-columns: 1fr 1fr;
			justify-content: space-between;
		}
		@media all and (min-width: $bp-med) {
			grid-template-columns: 1fr 1fr 1fr;
		}

	}

	.c-categories-toggle {
		display: inline-block;
	}


.c-media-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	
	&__item#{&}__item {
		// padding: 0 $pad;
		// max-width: 140px;
		// @media all and (min-width: $bp-small) {
		// 	max-width: 50%;
		// }
	}
}
.c-block-media {
	&__img {
		// width: 160px;
		// height: 160px;
		box-shadow: 0 2px 4px rgba(0,0,0,0.5);
		@media all and (min-width: $bp-med) {
			width: 160px;
			height: 160px;
		}
		img {
			object-fit: cover;
			width: auto;
		}
	}
	&__category {
		color: $color-brand-secondary;
		@include fluid-type(font-size,37.5rem, 80rem, 0.563rem, 0.75rem);
		font-weight: bold;
		line-height: 1.2;
	}
	&__headline {
		color: $color-brand-tertiary;
		@include fluid-type(font-size,37.5rem, 80rem, 0.875rem, 1.25rem);
		font-weight: bold;
		line-height: 1.2;
	}
}

.c-pagination {
	text-align: center;
	&#{&} {
		margin: $space-double auto;
	}
	a {
		color: $color-brand-tertiary;
		height: 40px;
		display: inline-block;
		text-transform: uppercase;
		-webkit-transition: ease-in-out all .2s;
		transition: ease-in-out all .2s;
		min-width: 40px;
		font-weight: 900;
		line-height: 40px;
	
	}
	a:hover, .current {
		height: 40px;
		line-height: 40px;
		min-width: 40px;
		display: inline-block;
		color: $color-white;
		background: $gradient-brand-primary;
		text-decoration: none;
	}
	a.next, a.prev {
		padding: 0 $pad-half;
	}
}

.c-featured-article {
	background-color: $color-brand-quaternary;
	color: $color-white;
	@media all and (min-width: $bp-med-2) {
		margin-bottom: 140px;
	}

	&__inner {
		@media all and (min-width: $bp-med-2) {
			display: -ms-grid;
			display: grid;
			-ms-grid-columns:  1fr 1fr;
			-ms-grid-rows:  1fr;
			grid-template-rows: 1fr;
			grid-template-columns: 1fr 1fr;
			grid-template-areas: "content image";
			position: relative;
		}
	}
	&__headline {
		color: $color-white;
		@include fluid-type(font-size,37.5rem, 80rem, 1.563rem, 1.875rem);
		font-weight: 300;
		line-height: 1.2;
		@media all and (min-width: $bp-med-2) {
			
			grid-area: headline;
		}
	}
	&__category {
		color: $color-brand-secondary;
		@include fluid-type(font-size,37.5rem, 80rem, 0.563rem, 0.75rem);
		font-weight: bold;
		line-height: 1.2;
		display: block;
		margin-bottom: $space;
	}
	&__link {
		color: $color-white;
		@include fluid-type(font-size,37.5rem, 80rem, 1.563rem, 2.5rem);
		font-weight: bold;
		line-height: 1.2;
		&:hover {
			text-decoration: underline;
			color: $color-white;
		}
	}
	&__excerpt {
		font-size: 1rem;
		font-weight: 300;
		line-height: 22px;
		margin: $space 0;
	}
	&__body {
		padding: $pad-double 0;
		@media all and (min-width: $bp-med-2) {
			-ms-grid-column: 1;
			-ms-grid-row: 1;
			grid-area: content;
			padding-right: $pad-double;
		}
	}
	&__media {
		height: 346px;
		overflow: hidden;
		@media all and (min-width: $bp-med-2) {
			-ms-grid-column: 2;
			-ms-grid-row: 1;
			grid-area: image;
			height: 540px;
			position: absolute;
			right: 0;
			top: 0;
			box-shadow: 0 2px 4px rgba(0,0,0,0.5);
		}
		img {
			height: 100%;
			max-width: none;
			width: 100%;
			object-fit: cover;
			object-position: 50% 50%;
		}
	}
}
.c-all-articles {
	.ie-11 & {
		@media all and (min-width: $bp-med-2) {
			padding-top: 90px;
		}
	}
}
.c-latest-posts {
	margin-bottom: $space-double;
	&__headline {
		color: $color-brand-tertiary;
		font-size: 25px;
		font-weight: 300;
		line-height: 45px;
	}
	&__hero {
		display: block;
		width: 100%;
		& > a:hover .c-block-media__headline {
			color: $color-brand-secondary;
		}
		.c-block-media {
			&__headline {
				@include fluid-type(font-size,37.5rem, 80rem, 1.563rem, 2.5rem);
				font-weight: bold;
				line-height: 1.2;
			}
		
			&__media {
				height: 346px;
				max-width: 100%;
				margin: 0 auto;
				display: block;
				@media all and (min-width: $bp-med) {
					width: 100%;
					height: 540px;
				}
				img {
					height: 100%;
					max-width: none;
					width: 100%;
					object-fit: cover;
					object-position: 50% 50%;
				}
			}
		}
	}
	.c-block-media {
		&__category {
			color: $color-brand-secondary;
			@include fluid-type(font-size,37.5rem, 80rem, 0.563rem, 0.75rem);
			font-weight: bold;
			line-height: 1.2;
			display: block;
			margin-bottom: $space;
			margin-top: $space-double;
		}
		&__excerpt {
			font-size: 1rem;
			font-weight: 300;
			line-height: 22px;
			margin: $space 0;
		}
	}
}

.page-cases-we-handle {
	.c-search-form--cases {
		position: relative;
		border-bottom: 2px solid $color-gray-15;
		margin-top: 60px;
		::-webkit-input-placeholder { font-style: italic; font-size: 1.313rem; color: $color-gray-35; letter-spacing: 0.1px; line-height: 31px; }
::-moz-placeholder { font-style: italic; font-size: 1.313rem; color: $color-gray-35; letter-spacing: 0.1px; line-height: 31px; } 
:-ms-input-placeholder { font-style: italic; font-size: 1.313rem; color: $color-gray-35; letter-spacing: 0.1px; line-height: 31px; }
input:-moz-placeholder { font-style: italic; font-size: 1.313rem; color: $color-gray-35; letter-spacing: 0.1px; line-height: 31px; }
.placeholder { font-style: italic; font-size: 1.313rem; color: $color-gray-35; letter-spacing: 0.1px; line-height: 31px; }
		&:focus {
			outline: none;
		}
		&__btn {
			position: absolute;
			top: 4px;
			left: $space;
			background: none;
			min-width: 0;
			padding: 0;
			margin: 0;
			border: none;
			height: 40px;
			width: 40px;
			svg {
				fill: $color-brand-quaternary;
				height: 28px;
				width: 28px;
			}
			&:hover, &:active {
				outline: none;
			}
		}
		&__input {
			border-radius: $border-radius;
			font-size: 1.313rem;
			margin-left: $space;
			margin-bottom: $space-half;
			&:focus {
				outline: none;
				box-shadow: 0 2px 4px rgba(0,0,0,0.5);
			}
		}
	}
	.c-page-header-cta {
		margin-bottom: 0;
		margin-top: $space-double;
		height: 65px;
		&__link, &__title {
			color: $color-white;
			text-align: center;
			display: block;
			text-transform: uppercase;
				font-size: 14px;
				font-weight: bold;
				line-height: 65px;
				&:hover {
					color: $color-brand-secondary;
				}
		}
		.icon-chevron {
			width: 10px;
			height: 20px;
			transform-origin: 50% 50%;
			transform: rotate(180deg);
			margin: 0;
			padding: 0;
			top: 4px;
			left: 8px;
			line-height: 20px;
			svg {
				width: 10px;
				height: 20px;
			}
		}
	}
}